/* 
? 	page height always fills viewport using flexbox
*/
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    > header,
    > footer {
        flex: none 0;
    }
    > main {
        flex: 1 0 auto;
        margin-top: $headerHeight; // default values
    }
}

// note that theme.json values aren't on the front end; so reference those "hidden vars" in a  sense
.blocks--wrapper {
	@extend %base_blocks_container;
}

// ? this appears to be the top level container class and does not appear more than once with a post list grid loaded
.block-editor-writing-flow {
	// ? note that this selector appears within nested content levels as well (sad face)
	> .block-editor-block-list__layout.is-root-container {
		@extend %base_blocks_container;
	}
}