/* 

	NU Patterns
	- Feature Category
	- - Pattern "is_type_a"

	? This file takes the KNOWN pattern; which is intended to be developed into a LOCKED TEMPLATE, and styles it.
	? This is tightly coupled and will break on changes in the editor
	? Until we move to start really templating; this should be AS MINIMAL AS POSSIBLE.

	* prebuilding patterns is very easily and flexible; and we can massage the 'correct' choice of blocks this way before 'hardening' things into a template.
	
*/

// ? this selector can not change; it represents this pattern literally
.nu_pattern-is_feature--is_type_a {
	// ? idk
	padding: $margin_4x;
	padding-bottom: 0;

	// ? idk
	> .wp-block-columns {
		margin: 0;
		&:first-child {
			.wp-block-column:last-child {
				display: flex;

				.wp-block-group {
					@media screen and (min-width: 781px) {
						margin-left: auto;
						margin-right: 0 !important;
						min-width: 60%;
					}
	
					@media screen and (max-width: 781px) {
						width: 100%; 

						> * {
								margin-left: 0 !important; 
						}
					}
				}
			}
		}
		.wp-block-buttons {
			margin-bottom: -#{$margin_4x};
			flex-wrap: nowrap;

			@media screen and (max-width: 640px) {

				display: flex; 
				flex-wrap: wrap; 
				flex-direction: column; 
	
				margin-bottom: #{$base-margin}; 
				
				> .wp-block-button {
					margin: 5px 0; 
				}
	
				.wp-block-button.is-style-card .wp-block-button__link {
					padding: 32px; 
				}
		
				// ? address issues w/ the right column not being properly aligned if they remain after above tweaks
				// ? also fix the next section being tucked up too close!
			}

			// ? this makes the "overflowing" buttons have a solid background on hover, for readability
			// ? (this is a BUG in the button block overall!)
			> .wp-block-button.is-style-card {
				.wp-block-button__link {
					&:hover,
					&:focus {
						background-color: #fff;
					}
					&:active {
					}
				}
			}
		}
	}

	@media screen and (max-width: 960px) {
		padding: $margin_2x;
		padding-bottom: 0;
		> .wp-block-columns:last-child {
			> .wp-block-column:last-child {
				margin-left: 0;
				flex-basis: 100% !important;
			}
		}

		// ? address issues w/ the right column not being properly aligned
	}

	

	
}